.listContainer {
  background-color: #dfe3e6;
  border-radius: 3px;
  width: 300px;
  height: 100%;
  padding: 8px;
  margin-right: 8px;
}
.styledInput {
  width: 100%;
  border: none;
  outline-color: blue;
  border-radius: 3px;
  margin-bottom: 3px;
  padding: 5px;
}

.titleContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.listTitle {
  transition: background 0.3s ease-in;
  .titleContainer:hover & {
    background: #ccc;
  }
}

.DeleteButton {
  display: none;
  opacity: 0.5;
  .titleContainer:hover & {
    display: block;
    cursor: pointer;
  }
  &:hover {
    opacity: 0.8;
  }
}
