.cardContainer {
  margin: 0 0 8px 0;
  position: relative;
  max-width: 100%;
  word-wrap: break-word;
}

.editButton {
  position: absolute;
  display: none;
  right: 5px;
  top: 5px;
  opacity: 0.5;
  .cardContainer:hover & {
    display: block;
    cursor: pointer;
  }
  &:hover {
    opacity: 0.8;
  }
}

.deleteButton {
  position: absolute;
  display: none;
  right: 5px;
  bottom: 5px;
  opacity: 0.5;
  .cardContainer:hover & {
    display: block;
    cursor: pointer;
  }
  &:hover {
    opacity: 0.8;
  }
}
